main {
    display: flex;
    flex-direction: column;
    font-family: system-ui;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;

}
img {
    max-height: 500px;
}